@font-face{
  font-family: 'Lancelot';
  src:  url(../font/Lancelot/lancelot-v7-latin-regular.woff) format('woff'),url(../font/Lancelot/lancelot-v7-latin-regular.woff2) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Montserrat';
  src:  url(../font/Montserrat/montserrat-v12-latin-regular.woff) format('woff'),url(../font/Montserrat/montserrat-v12-latin-regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}