@import url('https://fonts.googleapis.com/css?family=Lancelot');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
* { 
    box-sizing: border-box;
}

.item p {
  text-align: center;
  font-family: Lancelot;
}
  

header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/Homepage Ollivander/Background_mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
}
header {
  display: flex;
}
h1 {
  font-family: Lancelot;
  padding: 2px;
}
.title {
  background-color: #FBCB04;
  font-family: Lancelot;
  padding: 2px;
  width: 78px;
}
.baguette1 {
  width: 320px;
}
.baguette2 {
  width: 320px;
}
.baguette3 {
  width: 320px;
}
footer {
  background-image: url("../images/Homepage Ollivander/Frost.jpg");  
}

footer h2 {
    font-family: Roboto;
}
.fantastique {
  width: 320px;
}
.netflix {
  width: 320px;
}
.descriptionnetflix { 
  color: white;
  font-size: 20px;
}
.icones {
  display: flex;
  justify-content: center; 
}
.twitter {
  width: 20px;
}
.facebook {
  width: 20px;
}
.instagram {
  width: 20px;
}