@import url('https://fonts.googleapis.com/css?family=Lancelot');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  background-color:
}

.home-buton {
  margin-left: 21px;
  margin-top: 21px;
}

.img-home {
  width: 21px;
  margin-top: 21px; 
}
summary {
  padding: 10px;
  margin-left: 80px;
  outline: none;
  position: relative;
}
summary::-webkit-details-marker {
  opacity: 0;
}
.plus-icon {
  width: 15px;
  position: absolute;
  right: 60;
}
.glass-icon {
  width: 22px;
  position: absolute;
  left: -10;
}
.title-article {
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
}
.article-1-bis {
  font-family: Lancelot;
  width: 80%;
  margin-left: 35px;
}
.baguette-1-a {
  width: 250px;
}
.contents-article {
  font-size: 14px;
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  padding: 7px;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
}
.details {
  font-family: Lancelot;
  font-size: 20px;
}
.text-details {
  font-family: Montserrat,Arial, Helvetica, sans-serif;;
  font-size: 16px;
  padding: 42px;
  letter-spacing: 3px;
  line-height: 20px;
}
.line-cara {
  width: 236px;
  color: #C4C4C4;
}







/* footer wand1 */ 

.footer-article-1 {
  background-color:#231322;
  width: 100%;
  min-height: 5vh;
}

.icones-bis {
  display: flex;
  justify-content: space-around;
}

.twitter-bis {
  width: 40px;
}

.facebook-bis {
  width: 40px;
}

.instagram-bis {
  width: 40px;
}